body {
  background-color: #dce2ed20;
}

.title {
  text-align: center;
  color: #471677;
  font-family: Dosis;
  font-weight: bold;
  font-size: 50px;
}

.subhead {
  text-align: center;
  color: #471677;
  font-family: Dosis;
  font-weight: bold;
  padding-left: 5px;
  font-size: 20px;
}

.row {
  margin: 5px;
  border: solid 1px #471677;
  padding: 14px;
  background-color: #dce2ed60;
  border-radius: 6px;
}

.quesLab {
  font-style: italic;
  display: block;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

.ansLab {
  font-style: italic;
  padding: 5px;
  display: block;
}

.nameLink {
  padding: 5px;
  font-weight: bold;
  color: #471677;
  text-decoration: none;
}
